

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
     
     
     <a class="navbar-brand" routerLink="/">Dating App</a>
    
    
       <ul class="navbar-nav " >
       <ng-container  *ngIf="accountService.currentUser$ | async">
           <li class="nav-item ">
             <a class="nav-link" aria-current="page" routerLink="/members" routerLinkActive="active">Matches</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
           </li>
           <li class="nav-item">
             <a class="nav-link " routerLink="/messages" routerLinkActive="active">Messages</a>
           </li>
          
       
          </ng-container>
          <li class="nav-item">
            <a class="nav-link " routerLink="/errors" routerLinkActive="active">errors</a>
          </li>
         
       </ul>
       
      
    
 
       
       
       <form #loginForm="ngForm" *ngIf="(accountService.currentUser$ | async)===null" class="d-flex ml-auto" (ngSubmit)="login()" autocomplete="off" >
         <input class="form-control me-2" type="text" placeholder="userName"
         name="username"
         [(ngModel)]="model.username" required="email">
         <input class="form-control me-2" type="password" placeholder="password"
         name="password"  [(ngModel)]="model.password" required>
         <button class="btn btn-outline-success" type="submit">Login</button>
       </form>
       
     
 </div>
 <div class="dropdown d-flex" *ngIf="(accountService.currentUser$ | async ) as user" dropdown>
  <a  class="dropdown-toggle text-light" dropdownToggle>Welcome {{user.username}}</a>
  <div class="dropdown-menu" *dropdownMenu>
      <a class="dropdown-item">Edit profile</a>
      <a class="dropdown-item" (click)="logout()">logout</a>
  </div>
</div>
 

          
   </nav>
   
   